<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

<!--在渲染模块时我们传入了一个变量title值为express字符串，模板-->
<!--引擎会将所有<%=title%>替换为express，然后将渲染后生成的html显示到浏览器中-->




















