<!DOCTYPE html>
<html>
  <head>
    <!--下面的title就是在index.js渲染器里面写的title-->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%- include header %>
    这是主页
  <%- include footer %>
  </body>
</html>





















