<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" >-->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/flat-ui.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">-->
    <title>股票涨跌相关性</title>
</head>
<body>
<p>jhuvhopjbpoebnE</p>
<script>
    var p_text=$("p").text();
    $("p").text("llalaall");
//}
</script>
</body>
</html>